@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&family=Roboto:wght@300&display=swap');

* { margin: 0;
padding: 0;
border:0;
}

body { 
    font-family: Lato, Roboto, sans-serif;
    font-weight: 300px;
    color: #3a3a3a; 
    position: relative;
}
    

.header {
    background-color: rgba(208, 190, 28, 0.4);
    position: relative;
    height: 100px;
}
#header-text {
    color: #fff;
   text-align: center;
   background-color: rgba(238, 223, 13, 0.959);

}

h1 {
    left: 200px;
    position: absolute;
    top: 40px;
}

#logo {
       height: 180px;
       width: 200px;
        float: left;
        margin-top: 170px;
        margin-left: 20%;
        position: absolute;
        border-radius: 50%;
    }
    
    #menu, #logo {
        line-height: 80px;
    }

    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 50px;
        color: #fff;
    }
    
    #menu a {
        text-decoration: none;
        color: inherit;
    }
    
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
    
    .active {
        border-bottom: 1px solid #3a3a3a;
    }
    hr {
        border: 1px solid inherit;
    }
