@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Pacifico&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Baskerville&family=Pacifico&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-weight: 300px;
    color: #3a3a3a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(11, 119, 119, 0.583);
    background-color: #fff;

}

.brand-title img{
    height: 160px;
    margin: .5rem
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: rgba(51, 172, 172, 0.583);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(189, 233, 233, 0.583);
    ;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(51, 172, 172, 0.583);
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-star;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.header-text
h2 {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
    display: block;
    width: 100%;
}

.header-text
p {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
    display: block;
    width: 100%; 
} 

.header-text {
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
}

#header-images {
    height: 450px;
    margin: 4px 4px 10px 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#header-images img {
    display: flexbox;
    height: 200px;
    width: 24.4%;
    border-radius: 20px;
    display: inline-block;
    
}


.div-about-us {
    width: 90%;
    margin: auto;
    border: 2px solid black;
    border-radius: 4px;
}

.about-us {
    border: 2px solid black;
    text-align: center;
    border-radius: 2px;

}

.sub-about-us {
    display: flex;
    text-align: center;
    border: 1px solid black;
    height: 300px;
    margin: 4px 4px 4px 4px;
    border-radius: 4px;

}

.sub-location,
.sub-story,
h2 {
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: 2px;

}